h1{
    font-size: 55px;
    
}
body{
    font-family: 'Bellota Text', cursive;
    margin: 0;
}
.name-highliter{
    color: chartreuse;
}
.control-width{
    width: 35%;
    margin-left: 5%;
    padding-left: 1%;
    float: left;
}
.control-width img{
    width: 100%;
}
.background{
    background-image: url(images/top-banner.png);
}
section{
    height: 500px;
    background-repeat: no-repeat;
}
.button-design{
    text-decoration: none;
    background-image: linear-gradient(45deg, green, chartreuse);
    color: white;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;

    background-color: chartreuse;
}
#font-change{
    color: springgreen;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    background-color: white;
    height: 60%;
}
.experience-area{
    background-image:url(images/exp-bg.png) ;
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, salmon);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.ex-years{
    color: yellowgreen;
}
footer{
    text-align: center;
}